@page "{id?}"
@model DomainRegistry.Pages.DomainInformationModel
@{
    ViewData["Title"] = "DomainInformation";
}

<div class="container">
    <h1>Domain Information</h1>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <h3>Domain Name:&nbsp;&nbsp;</h3>
                <p> @Model.Domain.DomainName</p>
            </div>
            <div class="row">
                <h3>Verification Provider:&nbsp;&nbsp;</h3>
                <p> Provider- @Model.Domain.Provider</p>
            </div>
            <div class="row">
                <h3>Period of Registration:&nbsp;&nbsp;</h3>
                <p> @Model.Domain.Period year(s)</p>
            </div>
        </div>
    </div>
</div>
