@page "{id?}"
@model DomainRegistry.Pages.DomainInformationModel
@{
    ViewData["Title"] = "DomainInformation";
}

<div class="container">
    <h1>Domain Information</h1>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <h4>Domain Name:&nbsp;&nbsp;@Model.Domain.DomainName</h4>
            </div>
            <div class="row">
                <h4>Verification Provider:&nbsp;&nbsp;Provider-@Model.Domain.Provider</h4>
            </div>
            <div class="row">
                <h4>Period of Registration:&nbsp;&nbsp;@Model.Domain.Period year(s)</h4>
            </div>
            <a href="/Renew/@Model.Domain.ID">Renew</a>
        </div>
    </div>
</div>